<h1>Listing tags</h1>

<table>
  <tr>
    <th>Shortcode sensor</th>
    <th>Epc</th>
    <th>Area</th>
    <th>Timestamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tags.each_with_index do |tag, index| %>
  <tr>
    <td><%= index %></td>
    <td><%= tag.shortcode_sensor %></td>
    <td><%= tag.epc %></td>
    <td><%= tag.area %></td>
    <td><%= tag.timestamp %></td>
    <td><%= link_to 'Show', tag %></td>
    <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
    <td><%= link_to 'Destroy', tag, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tag', new_tag_path %>
